# Spring Boot / STS
.classpath
.project
.settings/
.factorypath

# Maven
target/
pom.xml.tag
release.properties

# IDE (Eclipse / STS)
.metadata/
.recommenders/

# Logs
logs/
*.log

# Gradle
build/
.gradle/

# IntelliJ IDEA
.idea/
*.iml
out/

# macOS
.DS_Store

# Miscellaneous
*.swp
*.tmp
